@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-size: 1.15rem;
  }
  body {
    background: url("./assets/pic/592236-future-cyberpunk.jpg") no-repeat center
      fixed;
    background-size: cover;
  }
  